:root {
    font-size: 1rem;
    --transition-speed: 500ms;
    --accent-color: rgb(204, 0, 0);
    --lightest-gray: rgb(244, 244, 244);
    --light-gray: rgb(144, 144, 144);
    --medium-gray: rgb(96, 96, 96);
    --dark-gray: rgb(13, 13, 13);
    --header-height: 70px;
    --black: hsla(0, 0%, 0%, 1);
    --granite-gray: hsla(240, 4%, 40%, 1);
    --manatee: hsla(240, 4%, 62%, 1);
    --flax: hsla(49, 75%, 75%, 1);
    --lemon-yellow-crayola: hsla(67, 95%, 84%, 1);
    --animation-duration: 200ms;
    --animation-timing-curve: ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    width: 30vw;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.searchBar {
    width: 30px;
    height: 30px;
    display: flex;
    align-content: center;
    vertical-align: middle;
    margin: 10px;
    cursor: pointer;
}

#sidebarToggle {
    display: inline-block;
    border-radius: 4px;
    border: none;
    align-content: left;
    background: none;
    justify-content: center;
    padding: 20px;
    width: 80px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    outline: none;
}

body {
    font-family: "Noto Serif", serif;
    background: var(--flax);
    height: max-content;
}

.slideshowhere {
    height: 100%;
    width: 100%;
}

.navbar {
    width: 99.8vw;
    height: var(--header-height);
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9;
    transition: 0.5s;
    background: var(--lightest-grayy);
}


.links-container {
    display: flex;
    align-items: center;
    list-style: none;
    flex-flow: column;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

.link-item {
    margin: 5px;
}

.link {
    background: fixed;
    padding: 5px;
    width: 16px;
    height: 24px;
    margin-top: 100vh;
    line-height: 24px;
    color: black;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    text-decoration: none;
    opacity: 0.7;
    transition: 0.5s;
    vertical-align: middle;
}

.link.active,
.link:hover {
    opacity: 1;
}

.toggleLogoBar {
    display: flex;
    flex-flow: row;
    align-content: flex-start;
    justify-content: center;
}

.user-interactions {
    display: flex;
    align-items: center;
}

.cart {
    width: 30px;
    height: 30px;
    display: flex;
    align-content: center;
    vertical-align: middle;
    margin: 10px;
    cursor: pointer;
}

.user {
    width: 30px;
    height: 30px;
    display: flex;
    align-content: center;
    vertical-align: middle;
    margin: 10px;
    cursor: pointer;
}

.cart:hover {
    animation: shake 1s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.header-section {
    width: 100%;
    background-color: beige;

    display: flex;
    justify-content: left;
    align-items: left;

}

.header-heading {
    font-size: 32px;
    padding: 12px 12px 12px 12px;
    display: grid;
    align-items: top;
}

.header-heading-redirect {
    text-decoration: none;
    opacity: 1;
    transition: 0.5s;
    color: black;
}

.logo {
    left: 0;
    margin: auto 0;
}

.menu-icon {
    width: 24px;
    height: 24px;
    justify-content: space-evenly;
    fill: var(--medium-gray);
}

.menu-icon:hover {
    fill: var(--dark-gray);
}

.logo img {
    display: flex;
    margin: auto;
    height: 10vh;

}

section.section-content-1 {
    display: flex;
    margin: 2rem auto;
    width: 70vw;
    justify-content: center;
    flex-flow: row wrap;
}

.card p {
    margin: auto;
}

.htwo-header {
    text-align: center;
}

.heading{
    background: var(--lemon-yellow-crayola);
    width: 93vw;
    text-align: center;
    padding: 5px;
    line-height: auto;
    color: black;
    font-weight: bolder;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2rem 0;
    border-radius: 12px;
}

.heading .header-caption {
    text-align: center;
    padding: 5px;
    line-height: auto;
    color: black;
    font-weight: bolder;
}

body::-webkit-scrollbar {
    width: 0.3rem;
}

body::-webkit-scrollbar-track {
    background: grey;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

.navbar-side.open {
    width: 250px;
    position: sticky;
    height: calc(150vh - var(--header-height));
    opacity: 1;
    background-color: rgba(5, 5, 5, 0.3);
    display: flex;
    flex-flow: column;
}

.navbar-side .extended-text {
    display: none;
}

.navbar-side.open .extended-text {
    padding: 20px 0px 20px 0px;
    display: flex;
}

.navbar-side {
    flex-shrink: 0;
    width: 90px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--header-height));
    padding-top: 1rem;
    align-items: center;
    justify-content: stretch;
    transition: width var(--animation-duration) var(--animation-timing-curve);
    position: sticky;
    left: 0;
    top: var(--header-height);
    /* background-color: rgba(5, 5, 5, 0.3); */
    background: rgba(60, 60, 60, 0.5)
}

.navbar-sidenav {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.nav-item {
    width: 50px;
    padding: 25px 0;
}

.nav-links {
    align-items: center;
    text-align: center;
    color: var(--text-primary);
    text-decoration: none;
}

.nav-links img {
    width: 50px;
}

.nav-item a {
    text-decoration: none;
    color: black;
}

.item1 {
    grid-area: navbar;
}

.item2 {
    grid-area: main;
    width: 100%;
}

.item3 {
    grid-area: footer;
}

.item4 {
    grid-area: header;
    position: sticky;
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, .4);
    position: -webkit-sticky;
    top: 0;
    z-index: 10;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'navbar main main main main main'
        'navbar main main main main main';
    gap: 0px;
}

.grid-container>div {
    text-align: center;
}

.dropbtn {
    display: flex;
    flex-direction: column;
    background: none;
    font-size: 16px;
    border: none;
    cursor: pointer;
    outline: none;
}


.navbar-side .product-content {
    z-index: 1;
    display: none;
    background-color: inherit;
    width: 85px;
    transform: translateX(-20%);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.navbar-side .product-content  a:hover {
background-color: var(--lemon-yellow-crayola);
}

.product-content a {
    color: black;
    padding: 8px;
    text-decoration: none;
    display: block;
}

.navbar-side.open .product-content {
    transform: translateX(-20%);
}

.navbar-side.open .product-dropdown:hover .product-content,
.product-dropdown:hover .product-content {
    display: block;
    
}

.product-dropdown {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column;
}




.counter-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.counter {
    text-align: center;
}
.counter h3 {
    padding: 0.5rem 0;
    font-size: 2.5rem;
    font-weight: 800;
}

.counter h6 {
    font-size: 2rem;
    padding-bottom: 1rem;
}
.icon {
    height: 5rem;
    width: auto;
}

  

.carousel{
    height: 400px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 678px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 13px;

  }
  .carousel-inner{
    height: 100%;
    /* min-width: 400%; */
    display: flex;
    transition: all ease .5s;
  }
  .carousel-item{
    flex: 1;
    height: 100%;
    width: 100vw;
    /* max-width: fit-content; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  
  .carousel-item img{
    width: 650px;
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .carousel-item h1{
    opacity: .5;
  }
  .carousel-controls .prev{
    display: inline-block;
    height: 32px;
    width: 32px;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('prev.svg');
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: .5;
  }
  .carousel-controls .next{
    display: inline-block;
    height: 32px;
    width: 32px;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('next.svg');
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: .5;
  }
  .prev:hover, .next:hover{
    opacity: 1;
  }
  .carousel-indicators{
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  .carousel-indicators span{
    display: inline-block;
    background-color: white;
    width: 30px;
    height: 4px;
    border-radius: 2px;
    opacity: .5;
    cursor: pointer;
    margin: 3px;
  }
  .carousel-indicators span.active{
    opacity: 1;
  }

