:root {
    font-size: 1rem;
    --transition-speed: 500ms;
    --accent-color: rgb(204, 0, 0);
    --lightest-gray: rgb(244, 244, 244);
    --light-gray: rgb(144, 144, 144);
    --medium-gray: rgb(96, 96, 96);
    --dark-gray: rgb(13, 13, 13);
    --header-height: 70px;
    --black: hsla(0, 0%, 0%, 1);
    --granite-gray: hsla(240, 4%, 40%, 1);
    --manatee: hsla(240, 4%, 62%, 1);
    --flax: hsla(49, 75%, 75%, 1);
    --lemon-yellow-crayola: hsla(67, 95%, 84%, 1);
    --animation-duration: 200ms;
    --animation-timing-curve: ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

